
/* Estilos de la pagina de xxxx*/




/* Estilos de la pagina de xxxx*/



/* Estilos de la pagina de xxxx*/




























































































































































































/* Estilos de la pagina de inicio*/
.contenedor-b{

    width: 10%;
}

.contenedor-items{

    width: 90%;
}

.hover-link :hover{
color: #FDCD12 !important ;

}




